node_modules
npm-debug.log
yarn-error.log

# TypeScrit temporary/cache files
**/.baseDir.ts
**/.tscache/
tscommand-*.tmp.txt

**/dist/

# IDEA
.idea
*.iml

# vim swap files
*.sw*

**/tags

# local npm cache
.npm_cache

out.html
rule-metadata.json
